<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <appSettings>
    <add key="NameLDB" value="rwtEuqr29E4KQSfS/ckxeg==" />
    <add key="color" value="#FDFCEE" />
    <add key="intervalAlert" value="3600000" />
  </appSettings>
</configuration>